@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Lato:wght@400;700&family=Nanum+Pen+Script&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .green {
        @apply text-[#005A31]
    }

    .mobile-nav-wrapper {
        @apply bg-[#18af7a] min-h-[80px] py-2 px-4 flex flex-row items-center justify-between border-b-2 border-[#ffd800];
    }

    .menu-icon {
        @apply w-7 h-7 text-[#fff] cursor-pointer transition-all delay-75 ease-in p-[5px] border rounded border-[#fff];
    }

    .menu-icon:hover {
        @apply text-[#fad90e] border-[#fad90e];
    }

    .mobile-nav-link-wrapper {
        @apply bg-[#18af7a] border-b-2 border-[#ffd800] flex flex-col gap-y-3 text-white mx-auto p-3 rounded-bl rounded-br invisible transition-all delay-[.5s] ease-in-out fixed -left-[999px] w-full;
    }

    .mobile-nav-link-wrapper.show {
        @apply left-0 visible transition-all;
    }

    .appointment-link {
        @apply px-4 py-2 text-gray-600 font-semibold h-full flex items-center bg-[#ffd800];
        /* "to left" / "to right" - affects initial color */
        /* background: linear-gradient(to left, #88de32 50%, #272925 50%) right; */
        background-size: 200%;
        transition: .5s ease-out;
    }

    .appointment-link:hover {
        background-position: left;
        color: white;
        @apply bg-[#18af7a];
    }

    .m-link-is-active {
        @apply flex items-center text-[#fff] border-[#18af7a] text-[18px] p-3 font-bold ease-in transition-all;
    }

    .m-link-is-active:hover {
        @apply text-[#ffd800] rounded-none transition-all ease-in;
    }

    .link-is-active {
        @apply flex items-center text-[#18af7a] border-[#18af7a] text-[18px] p-3 font-bold ease-in transition-all;
    }

    .link-is-active:hover {
        @apply text-[#ffd800] rounded-none transition-all ease-in;
    }

    .nav-link:hover {
        @apply text-[#ffd800] transition-all ease-in;
    }

    .link-is-not-active {
        @apply flex items-center text-[#252525] tracking-wide text-[18px] font-semibold ease-in duration-300;
    }

    .link-is-not-active:hover {
        @apply text-[#18af7a] pb-0 rounded-none;
    }

    .hero-section {
        @apply flex justify-center items-center min-h-[500px];
    }

    .hero-bg {
        background-image: url('../images/hero-bg.jpg');
        @apply w-full h-[inherit] object-cover
    }

    .sub-menu {
        display: none;
    }

    .menu:hover .sub-menu {
        display: flex;
    }

    .scrollbar::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }

    .scrollbar::-webkit-scrollbar-track {
        border-radius: 100vh;
        background: #f7f4ed;
    }

    .scrollbar::-webkit-scrollbar-thumb {
        background: #e0cbcb;
        border-radius: 100vh;
        border: 3px solid #f6f7ed;
    }

    .scrollbar::-webkit-scrollbar-thumb:hover {
        background: #c0a0b9;
    }

}

/* Medium screens only */
@screen md {
    .mobile-nav-wrapper {
        @apply hidden
    }
}

/* Large screens only */
@screen lg {
    .hero-section {
        @apply justify-start
    }
}